---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    {% assign content_parts = content | split: '</h1>' %}
    {% if content_parts.size > 1 %}
    {% assign after_h1_parts = content_parts[1] | split: '</blockquote>' %}
    <div class="row">
      <div class="col-12 intro-title-section">
        {{ content_parts[0] | append: '</h1>' }}
        {% if after_h1_parts.size > 1 %}
        {{ after_h1_parts[0] | append: '</blockquote>' }}
        {% assign remaining_content = after_h1_parts[1] %}
        {% else %}
        {% assign remaining_content = content_parts[1] %}
        {% endif %}
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ remaining_content }}
        {% if page.show_dual_cta %}
          {% include dual-cta.html %}
        {% endif %}
      </div>
      {% if page.show_use_cases_carousel %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        {% include use-cases-carousel.html %}
      </div>
      {% elsif page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_dual_cta %}
          {% include dual-cta.html %}
        {% endif %}
      </div>
      {% if page.show_use_cases_carousel %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        {% include use-cases-carousel.html %}
      </div>
      {% elsif page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

<div class="strip" style="position: relative; overflow: hidden;">
  <div id="moire-background"></div>
  <div class="container pt-6 pb-6 pb-md-10" style="position: relative; z-index: 1;">
    <div class="row justify-content-center">
      <div class="col-12">
        <iframe src="{{ '/placeholder.html' | relative_url }}" width="100%" height="800" frameborder="0" style="border: none; opacity: 0.4;"></iframe>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.js"></script>
<script src="{{ '/assets/js/moire-background.js' | relative_url }}"></script>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
